/* 
    Created on : 16 Jun 2020, 8:50:23 am
    Author     : Veronica Bermegui.
*/



/*Group and Grouping  elements*/
select#id_groups  {
    width: 70%;
}

select#id_groupings  {
    width: 22%;
}

td.group-name-column{
    width: 10%;
    font-weight: bold;
}
td.pic-name{
    text-align: left;
}

td.status-link-column {
    width: 20%;
}

td.grouping_name_cell {
    display: table-cell;
    vertical-align: middle !important;
    width: 20%;
}



/*Students table table elements*/
td.fullname-column {
    text-align: left;
}

img.pic{
   margin-left: 20%;
}

th.table-student-columns{
    width: 20%;
}

th.checkbox-column {
    width: 4%;
}

/*Group and Grouping Tables commonalities*/

.container-fluid.table-container {
    margin-top: 2%;
}

table.mod-googledocs-files-view.table-bordered.table-lg.overviewTable {
    text-align: center;
    background-color: #FFFFFF;
    width: 100%;
}


.process_message {
    font-weight: bold;
    margin-top: 25px;
    text-align: center;
}

.link_icon {
    width: 35px;
    text-align: center;
}
.progress_bar.processing {
    display: inline-block;;
}

.spinner-border.color{
    color:#3498db;
}

.success {
    color: #fff;
    background-color: rgba(17,119,209,.75);
}

.failed {
    color: #fff;
    background-color: #d43f3a;     
}

.tag_doc {
    display: inline-block;
    padding: .25em .4em;
    font-size: 90%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*Processing spinner properties*/

.spinner-border.processing {
    width: 120px;
    height: 120px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
}

.d-flex.justify-content-center.overlay {
    background-color: rgba(204, 204, 204, 0.57);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
}

/*Google login Style*/

.login-google{
    display:none;
    text-align: center;
    padding-top: 5%
}

/*Grading Style*/

.grademessage {
    margin-top: 5%;
}